@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --emerald-bg: #408880;        
  --emerald-dark: #204840;      
  --emerald-light: #78C8B8;     
  --card-bg: #F8F8F8;           
  --text-dark: #202020;         
  --ui-border: #303840;
  
  --hp-green: #58D080;
  --hp-yellow: #F8B050;
  --hp-red: #F85838;
}

.emeraldContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--emerald-bg);
  background-image: repeating-linear-gradient(
    45deg,
    var(--emerald-bg),
    var(--emerald-bg) 10px,
    #387870 10px,
    #387870 12px
  );
  font-family: 'Press Start 2P', monospace;
  color: var(--text-dark);
  font-size: 12px;
  overflow: hidden;
  image-rendering: pixelated;
  user-select: none;
}

.scrollArea {
  flex: 1;
  height: 100%;
  margin-left: 12px;
  padding: 4px 12px;
  overflow: hidden;
}


.tabSvg {
    width: 24px;
    height: 24px;
    fill: #78C8B8;
}